//
//  {{ module_info.name }}{{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

class {{ module_info.name }}Presenter: BasePresenter {


    // MARK: VIPER


    weak var view: {{ module_info.name }}ViewInput!
    var interactor: {{ module_info.name }}InteractorInput! { didSet { b_interactor = self.interactor } }
    var router: {{ module_info.name }}RouterInput! { didSet { b_router = self.router } }


    // MARK: VARIABLES


}

extension {{ module_info.name }}Presenter: {{ module_info.name }}ModuleInput {

}

extension {{ module_info.name }}Presenter: {{ module_info.name }}ViewOutput {
    func viewIsReady() {
	view.setupInitialState()
    }
}

extension {{ module_info.name }}Presenter: {{ module_info.name }}InteractorOutput {

}